
<div class="wrapper" style="margin-top: 0px;">
  <div class="page-header" style="margin-bottom: 250px;">
    <img class="dots" src="assets/img/dots.png" />

    <img class="path" src="assets/img/path4.png" />

    <div class="container align-items-center">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <h1 class="profile-title text-left">Controle Financeiro</h1>
          <h5 class="text-on-back">$</h5>
          <p class="profile-description">
            Consulte os clientes cadastrados em suas carteiras para cada perfil de investidor.
          </p>
          <button class="btn btn-primary mr-1">Cadastre suas recomendações de investimento</button>
          
        </div>
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <img
                class="img-center img-fluid rounded-circle"
                src="assets/img/mike.jpg"
              />

              <h4 class="title">Sua carteira de clientes</h4>
            </div>
            <div class="card-body">
              <tabset
                class="nav-tabs-danger justify-content-center tab-subcategories"
              >
                <tab heading="Conservador">
                  <div>
                    <table class="table tablesorter" id="conservador">
                      <tbody>
                        <tr>
                          <td>PESSOA 1</td>
                        </tr>
                        <tr>
                          <td>PESSOA 2</td>
                        </tr>
                        <tr>
                          <td>PESSOA 3</td>
                        </tr>
                        <tr>
                      </tbody>
                    </table>
                  </div>
                </tab>
                <tab heading="Moderado">
                  <div>
                    <table class="table tablesorter" id="moderado">
                      <tbody>
                        <tr>
                          <td>PESSOA A</td>
                        </tr>
                        <tr>
                          <td>PESSOA B</td>
                        </tr>
                        <tr>
                          <td>PESSOA C</td>
                        </tr>
                        <tr>
                      </tbody>
                    </table>
                  </div>
                </tab>
                <tab heading="Arrojado">
                  <div>
                    <table class="table tablesorter" id="arrojado">
                      <tbody>
                        <tr>
                          <td>PESSOA X</td>
                        </tr>
                        <tr>
                          <td>PESSOA Y</td>
                        </tr>
                        <tr>
                          <td>PESSOA Z</td>
                        </tr>
                        <tr>
                      </tbody>
                    </table>
                  </div>
                </tab>
              
              </tabset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
