
<div class="wrapper" id="inicial">
  <div class="page-header header-filter">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>
    <div class="justify-content-center d-flex" id="login" style="margin-bottom: 250px; margin-top: 250px;">
      <div class="card card-register align-items-center col-3">
        <div class="card-header">
          <h4 class="card-title text-white w-auto p-3 titulo-cadastro">Login</h4>
        </div>
        <div class="card-body">
          <form class="form" (ngSubmit)="login()" #loginForm="ngForm">
            <div
              class="input-group"
              [ngClass]="{ 'input-group-focus': focus1 === true }"
            >
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="tim-icons icon-email-85"> </i>
                </div>
              </div>
              <input
                class="form-control"
                placeholder="E-mail"
                type="email"
                (focus)="focus1 = true"
                (blur)="focus1 = false"
                [(ngModel)]="email"
                name="email"
                #campoEmail="ngModel"
                required
              />
              <app-mensagem *ngIf="campoEmail.invalid && campoEmail.touched" mensagem="E-mail obrigatório"></app-mensagem>
            </div>
            <div
              class="input-group"
              [ngClass]="{ 'input-group-focus': focus2 === true }"
            >
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="tim-icons icon-lock-circle"> </i>
                </div>
              </div>
              <input
                class="form-control"
                placeholder="Senha"
                type="password"
                (focus)="focus2 = true"
                (blur)="focus2 = false"
                [(ngModel)]="senha"
                name="senha"
                #campoSenha="ngModel"
                required
              />
              <app-mensagem *ngIf="campoSenha.invalid && campoSenha.touched" mensagem="Senha obrigatória"></app-mensagem>
            </div>
          </form>
        </div>
        <p class="category">Não possui uma conta? </p>
        <a [routerLink]="['/register']">Cadastre-se</a>
        <button type="submit" class="btn btn-primary btn-round btn-lg btn-block" [disabled]="loginForm.invalid">
          Confirmar
        </button>
        <!-- <div class="card-footer">
          <a
            class="btn btn-primary btn-round btn-lg btn-block"
            href="javascript:void(0)"
            disabled
          >
            Confirmar
          </a>
        </div> -->
      </div>
    </div>
  </div>
</div>
