
<div class="wrapper">
  <section class="section section-lg">
    <img class="path" src="assets/img/path4.png" />

    <div class="container" style="margin-top: 100px; margin-bottom: 100px;">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <h1 class="text-center">Perfis de Investidor</h1>
          <p class="text-white mb-3 text-center">
            Através do seu perfil de investidor poderemos indicar os melhores tipos de investimentos para você.<br>
            Conheça os tipos de investidor conservador, moderado e arrojado e descubra qual é o seu perfil!
          </p>
          <div class="row row-grid justify-content-center">
            <div class="col-lg-3">
              <div class="info">
                <div class="icon icon-primary">
                  <i class="tim-icons icon-bank"> </i>
                </div>
                <h4 class="info-title">Conservador</h4>
                <hr class="line-primary" />

                <p>
                  O conservador é aquele que não quer correr nenhum ou poucos riscos.
                  Neste perfil, existem alguns exemplos de investimentos conservadores, que são os Renda Fixa, como por exemplo, o Tesouro Direto, os CDBs e RDCs. 
                  São aplicações que têm de antemão a taxa de juros que incidirá sobre o valor investido e quanto o dinheiro vai render no final do período contratado.
                </p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="info">
                <div class="icon icon-warning">
                  <i class="tim-icons icon-coins"> </i>
                </div>
                <h4 class="info-title">Moderado</h4>
                <hr class="line-warning" />

                <p>
                  A pessoa que tem um perfil de investidor moderado, significa que ela aceita correr um certo risco nas aplicações. 
                  Não chega a ser totalmente conservadora, buscando um pouco mais de rentabilidade, mas prefere não correr riscos em aplicações muito arrojadas.
                  Ele pode investir em Renda Fixa, com baixo risco, e fundos de ações, com risco um pouco maior. 
                </p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="info">
                <div class="icon icon-success">
                  <i class="tim-icons icon-money-coins"> </i>
                </div>
                <h4 class="info-title">Arrojado</h4>
                <hr class="line-success" />

                <p>
                  O investidor arrojado é aquele que aceita correr mais riscos para ter mais rentabilidade. 
                  Este perfil está disposto até a perder parte do valor investido. 
                  Porém, isso significa que ele tem grandes chances de recuperar esse valor no futuro e ainda ganhar mais com isso.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
