
<div class="wrapper" style="margin-top: 50px;" id="cadastro">
  <div class="page-header">
    <div class="page-header-image"></div>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
            <div class="square square-7" id="square7"></div>
            <div class="square square-8" id="square8"></div>
            <div class="card card-register">
              <div class="card-header">
                <h4 class="card-title text-white w-auto p-3">Cadastre-se</h4>
              </div>
              <div class="card-body">
                <form class="form" [formGroup]="registerPageForm" (submit)="cadastrar()">
                  <div
                    class="input-group"
                    [ngClass]="{ 'input-group-focus': focus === true }"
                  >
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-single-02"> </i>
                      </div>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Nome Completo"
                      type="text"
                      (focus)="focus = true"
                      (blur)="focus = false"
                      formControlName = "nome"
                    />
                    <app-mensagem *ngIf="registerPageForm.get('nome')?.errors && registerPageForm.get('nome')?.touched" mensagem="Nome obrigatório"></app-mensagem>
                  </div>                  
                  <div
                    class="input-group"
                    [ngClass]="{ 'input-group-focus': focus3 === true }"
                  >
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-calendar-60"> </i>
                      </div>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Data de Nascimento"
                      type="text"
                      onfocus="(this.type='date')"
                      onfocusout="(this.type='text')"
                      (focus)="focus3 = true"
                      (blur)="focus3 = false"
                      formControlName = "DataDeNascimento"
                    />
                    <app-mensagem *ngIf="registerPageForm.get('DataDeNascimento')?.errors && registerPageForm.get('DataDeNascimento')?.touched" mensagem="Data de nascimento obrigatória"></app-mensagem>
                  </div>
                  <div 
                    class="input-group"
                    [ngClass]="{ 'input-group-focus': focus4 === true }"
                  >
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-bank"> </i>
                      </div>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Perfil de investidor"
                      type="text"
                      onfocus="(this.type='text')"
                      onfocusout="(this.type='text')"
                      (focus)="focus4 = true"
                      (blur)="focus4 = false"
                      formControlName = "perfil"
                    />
                    <app-mensagem *ngIf="registerPageForm.get('perfil')?.errors && registerPageForm.get('perfil')?.touched" mensagem="Perfil de investidor obrigatório"></app-mensagem>
                  </div>
                  <div
                    class="input-group"
                    [ngClass]="{ 'input-group-focus': focus1 === true }"
                  >
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-email-85"> </i>
                      </div>
                    </div>
                    <input
                      class="form-control"
                      placeholder="E-mail"
                      type="email"
                      (focus)="focus1 = true"
                      (blur)="focus1 = false"
                      formControlName = "email"
                    />
                    <app-mensagem *ngIf="registerPageForm.get('email')?.errors?.required && registerPageForm.get('email')?.touched" mensagem="E-mail obrigatório"></app-mensagem>
                    <app-mensagem *ngIf="registerPageForm.get('email')?.errors?.email && registerPageForm.get('email')?.touched" mensagem="E-mail inválido"></app-mensagem>
                    <app-mensagem *ngIf="registerPageForm.get('email')?.errors?.usuarioExistente && registerPageForm.get('email')?.touched" mensagem="E-mail já cadastrado"></app-mensagem>
                  </div>
                  <div
                    class="input-group"
                    [ngClass]="{ 'input-group-focus': focus2 === true }"
                  >
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-lock-circle"> </i>
                      </div>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Senha"
                      type="password"
                      (focus)="focus2 = true"
                      (blur)="focus2 = false"
                      formControlName = "senha"
                    />
                    <app-mensagem *ngIf="registerPageForm.get('senha')?.errors && registerPageForm.get('senha')?.touched" mensagem="Senha obrigatória"></app-mensagem>
                  </div>
                  <div class="form-check text-left">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" required/>

                      <span class="form-check-sign"> </span> I agree to the
                      <a href="javascript:void(0)"> terms and conditions </a> .
                    </label>
                  </div>
                </form>
              </div>
              <button class="card-footer btn btn-round btn-lg btn-danger btn-block">
                Confirmar
              </button>
              <!-- <div class="card-footer">
                <a
                  class="btn btn-danger btn-round btn-lg"
                  href="javascript:void(0)"
                >
                  Confirmar
                </a>
              </div> -->
            </div>
          </div>
        </div>
        <div class="register-bg"></div>
        <div class="square square-1" id="square1"></div>
        <div class="square square-2" id="square2"></div>
        <div class="square square-3" id="square3"></div>
        <div class="square square-4" id="square4"></div>
        <div class="square square-5" id="square5"></div>
        <div class="square square-6" id="square6"></div>
      </div>
    </div>
  </div>
</div>
